<?xml version="1.0" encoding="utf-8"?>
<Media Key="41642ffa-94b7-4408-9d81-f9628c8645ec" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="162503c5-2073-483f-b0d7-0de46ceba38a">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:43:28</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bcjmni3m/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>