<?xml version="1.0" encoding="utf-8"?>
<Media Key="a412729c-3e3f-4206-9aaf-fe4d4eb77124" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="162503c5-2073-483f-b0d7-0de46ceba38a">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:43:27</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1hlarre/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>