<?xml version="1.0" encoding="utf-8"?>
<Media Key="f57f600a-f1fc-440f-ab59-f5372cafeb4a" Alias="assurance.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T21:02:05</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5don0f5h/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>