<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b69d302-cc09-48d3-be52-fb50c1dcc748" Alias="Bonds.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T20:38:53</CreateDate>
    <NodeName Default="Bonds.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4bxmx0is/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>