<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b62a361-9e38-4f27-91b8-9abc8cba6b4e" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="162503c5-2073-483f-b0d7-0de46ceba38a">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:43:27</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smpmbkjd/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>