<?xml version="1.0" encoding="utf-8"?>
<Media Key="25d24007-1c65-4c86-8209-f30c5d0c7062" Alias="client-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/clientBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T10:56:58</CreateDate>
    <NodeName Default="client-bg.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4x4hbr14/client-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>