<?xml version="1.0" encoding="utf-8"?>
<Media Key="d430b313-61e0-4db9-ab40-30d5da3b24bb" Alias="Financial.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:37:34</CreateDate>
    <NodeName Default="Financial.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ehjenx1/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>