<?xml version="1.0" encoding="utf-8"?>
<Media Key="235aca55-08e9-4f31-9f7a-dc2c55d3120e" Alias="green-map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/greenMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:41:22</CreateDate>
    <NodeName Default="green-map.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u31prqps/green-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>