<?xml version="1.0" encoding="utf-8"?>
<Media Key="18df9837-50b9-4375-b309-93e50713905a" Alias="Home-Hero.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:30:07</CreateDate>
    <NodeName Default="Home-Hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yush14vc/home-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>