<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9cee6e7-e984-48c9-ab83-48207492e854" Alias="logo-06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:25</CreateDate>
    <NodeName Default="logo-06.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cvnhyo25/logo-06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>