<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca04cc7b-f901-4ec5-b8a9-4e7aa97b931e" Alias="logo-05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo05svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:25</CreateDate>
    <NodeName Default="logo-05.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rfylmka0/logo-05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>