<?xml version="1.0" encoding="utf-8"?>
<Media Key="26d111af-9750-4aac-8b35-45b792f99f92" Alias="logo-02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:25</CreateDate>
    <NodeName Default="logo-02.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwwhhrcl/logo-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>