<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0499857-f157-4dae-816a-e83f7b1a8df0" Alias="logo-01.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:25</CreateDate>
    <NodeName Default="logo-01.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uuspwism/logo-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>