<?xml version="1.0" encoding="utf-8"?>
<Media Key="205968ba-5038-421c-8e94-3cc820d03648" Alias="logo-04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo04svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:43:25</CreateDate>
    <NodeName Default="logo-04.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdkpxqrd/logo-04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>