<?xml version="1.0" encoding="utf-8"?>
<Media Key="5abf86a1-36c4-4b05-becc-7bba29fedad8" Alias="map-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T11:04:37</CreateDate>
    <NodeName Default="map-bg.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/km3b1og5/map-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>