<?xml version="1.0" encoding="utf-8"?>
<Media Key="0495136c-ede1-4b18-9d7a-a94e5cdd3b61" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="162503c5-2073-483f-b0d7-0de46ceba38a">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:43:28</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t0xdpzx0/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>