<?xml version="1.0" encoding="utf-8"?>
<Media Key="45ab88f7-6381-47a8-b01c-610e40587894" Alias="Onatrix-Logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T09:42:58</CreateDate>
    <NodeName Default="Onatrix-Logo.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/au0btj20/onatrix-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>