<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba967bb3-80f6-4a1b-944b-420aa913b3a0" Alias="Statistic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:38:33</CreateDate>
    <NodeName Default="Statistic.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihddiwhn/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>