<?xml version="1.0" encoding="utf-8"?>
<Media Key="71bf0425-c356-4d43-af1a-b83d7e04c8e9" Alias="success-team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successTeamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T09:41:33</CreateDate>
    <NodeName Default="success-team.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/042b1e0n/success-team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>