<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a5a54af-2f96-4f59-bea1-95d9f211471e" Alias="Tax-trusts.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:34:24</CreateDate>
    <NodeName Default="Tax-trusts.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lxupr4en/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>