<?xml version="1.0" encoding="utf-8"?>
<Media Key="a45d5548-1340-4ec9-9f11-cff30bace341" Alias="Tina-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T14:59:38</CreateDate>
    <NodeName Default="Tina-Signature.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xlup4rs1/tina-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>