<?xml version="1.0" encoding="utf-8"?>
<Content Key="753f3e7a-40a9-4491-93e3-88bd1e8d9b12" Alias="About" Level="2">
  <Info>
    <Parent Key="8280650d-46a7-46c2-83d4-854d6cd2ea74">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-04T13:45:26</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="905ba187-7bf5-4597-8799-89e1d142a948">AboutPage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7b3112fc-9b04-434a-b4a0-71ed99c9add5",
      "key": "66dd0fb2-2ad1-4ea7-bcce-3a27e61667f6",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Our Expert"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "d93a189c-ad9a-4d82-9625-3e34d51f06c5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Brandon Newton"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Financial Advisor at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5783993e-7609-4a51-aa96-e100325a4d69",
                        "mediaKey": "6509ab69-c4ed-48d2-ab70-1b5d65f6654a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "f6ef7c60-ae0d-4cc2-83a1-a894fcf44821",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "AJ Carter"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Financial Advisor at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bad0ebf2-0857-48cb-9736-8227d4bb46e1",
                        "mediaKey": "a412729c-3e3f-4206-9aaf-fe4d4eb77124",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "f64ceb27-4fe8-42f8-86a8-5c818f039bc5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Aaron Lambert"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Business Specialist at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "142d4463-18dd-4cfa-aef9-fbc713022aa8",
                        "mediaKey": "41642ffa-94b7-4408-9d81-f9628c8645ec",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "fc903874-f27d-449f-86d2-c4d788352805",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Tina Fox"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "CEO \u0026 Founder at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1c7c37a5-f2aa-472d-9026-c5111994aea7",
                        "mediaKey": "0ca1aac1-81c5-456b-ba80-53df86c0de5b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "8c487b91-da22-4941-b489-89f622d1b414",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Brandon Kerr"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": " CFO \u0026 Co-Founderat Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "35ac1334-956f-4470-8a00-b01ca4c0405c",
                        "mediaKey": "4b62a361-9e38-4f27-91b8-9abc8cba6b4e",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "4485c8a6-9679-4337-ac27-a5a1545b4eff",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Miranda Dayton"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Head of HR at Onatrix"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "41b993a8-f90f-4083-ba29-cad673983eec",
                        "mediaKey": "0495136c-ede1-4b18-9d7a-a94e5cdd3b61",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
                "key": "e6d34e7e-b41a-4be8-8b5a-40af9ba571f5",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Kevin Gardner"
                    }
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "Banking Advisor at Swedbank"
                    }
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b6d3281d-3c4a-455c-8208-24d3f00aa450",
                        "mediaKey": "27e60d15-288f-424c-afa8-2d3842bc25e5",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "d93a189c-ad9a-4d82-9625-3e34d51f06c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f6ef7c60-ae0d-4cc2-83a1-a894fcf44821",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f64ceb27-4fe8-42f8-86a8-5c818f039bc5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fc903874-f27d-449f-86d2-c4d788352805",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8c487b91-da22-4941-b489-89f622d1b414",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4485c8a6-9679-4337-ac27-a5a1545b4eff",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e6d34e7e-b41a-4be8-8b5a-40af9ba571f5",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d93a189c-ad9a-4d82-9625-3e34d51f06c5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f6ef7c60-ae0d-4cc2-83a1-a894fcf44821",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f64ceb27-4fe8-42f8-86a8-5c818f039bc5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fc903874-f27d-449f-86d2-c4d788352805",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8c487b91-da22-4941-b489-89f622d1b414",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4485c8a6-9679-4337-ac27-a5a1545b4eff",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e6d34e7e-b41a-4be8-8b5a-40af9ba571f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "54d83dc1-65ea-41e4-8d5e-b931f40a7a94",
      "key": "a4909d56-6a14-4c69-aabf-6e1f64cc5ba1",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6d5af86a-8967-4b1b-8100-87ed51971775",
      "key": "5c9e44ec-5613-43d0-940f-c1d7c94afc2b",
      "udi": null,
      "values": [
        {
          "alias": "contactDetailsSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactDetailsSectionOfficeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactDetailsSectionPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactDetailsSectionEmailContact",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "contactDetailsSectionBg",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7082a3e2-3dcf-4d90-8e81-cd363bb66ae2",
              "mediaKey": "a1202a3e-ee95-4f25-8864-99172ee8851b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "66dd0fb2-2ad1-4ea7-bcce-3a27e61667f6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a4909d56-6a14-4c69-aabf-6e1f64cc5ba1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c9e44ec-5613-43d0-940f-c1d7c94afc2b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a4909d56-6a14-4c69-aabf-6e1f64cc5ba1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "66dd0fb2-2ad1-4ea7-bcce-3a27e61667f6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5c9e44ec-5613-43d0-940f-c1d7c94afc2b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>