<?xml version="1.0" encoding="utf-8"?>
<Content Key="b41132c0-e8f2-4b9a-bb92-3c307f1e8571" Alias="Contact" Level="2">
  <Info>
    <Parent Key="8280650d-46a7-46c2-83d4-854d6cd2ea74">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-30T14:08:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f270d87a-2f9e-402d-a6a1-e44dd442eea6">ContactPage</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </bannerTitle>
    <navSection>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "54d83dc1-65ea-41e4-8d5e-b931f40a7a94",
      "key": "9c9a9695-95af-4cb9-b80a-892985cbc2bf",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9c9a9695-95af-4cb9-b80a-892985cbc2bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9c9a9695-95af-4cb9-b80a-892985cbc2bf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </navSection>
  </Properties>
</Content>