<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a5f1d69-fd5b-486c-99b9-8e4d3ad0e289" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-04T15:24:02</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Klarabergsviadukten 90, 111 64 Stockholm"
}]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "sales@onatrix.com"
}]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u002B46 8 123 456 75"
}]]></Value>
    </contactPhone>
    <footerBgColor>
      <Value><![CDATA[{
  "label": "Dark",
  "value": "#0E0E0E"
}]]></Value>
    </footerBgColor>
    <footerText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u00A9 Onatrix. All Rights Reserved. Credits to Themesflat"
}]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "08d7f7d5-c648-463a-815d-4a126caab9a5",
      "key": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.facebook.com/"
          }
        }
      ]
    },
    {
      "contentTypeKey": "08d7f7d5-c648-463a-815d-4a126caab9a5",
      "key": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.linkedin.com/"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "1f49df35-9ccc-4255-8cd7-0d67e29ac5db",
    "mediaKey": "30bbe738-34c8-4d4b-b81e-4dd6af1ddfd5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onatrix"
}]]></Value>
    </siteName>
  </Properties>
</Content>