<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a5f1d69-fd5b-486c-99b9-8e4d3ad0e289" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-04T15:24:02</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Klarabergsviadukten 90, 111 64 Stockholm"
}]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "sales@onatrix.com"
}]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u002B46 8 123 456 75"
}]]></Value>
    </contactPhone>
    <footerBgColor>
      <Value><![CDATA[{
  "label": "Dark",
  "value": "#0E0E0E"
}]]></Value>
    </footerBgColor>
    <footerText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u00A9 Onatrix. All Rights Reserved. Credits to Themesflat"
}]]></Value>
    </footerText>
    <logoOnatrix>
      <Value><![CDATA[[
  {
    "key": "c7c9daef-402d-4a11-9760-ac3f14c607f1",
    "mediaKey": "45ab88f7-6381-47a8-b01c-610e40587894",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoOnatrix>
    <mainNavigation>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "bbedd78c-5c62-42b1-b154-c9a1ad4ad9c6",
      "udi": null,
      "key": "8016b813-9a3f-45bb-8821-42785ffc88f3",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "navLabel",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EAbout\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    },
    {
      "contentTypeKey": "bbedd78c-5c62-42b1-b154-c9a1ad4ad9c6",
      "udi": null,
      "key": "68f3dcf3-f331-4d68-bd08-46c562ce030d",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "navLabel",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EServices\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    },
    {
      "contentTypeKey": "bbedd78c-5c62-42b1-b154-c9a1ad4ad9c6",
      "udi": null,
      "key": "718daf2c-5298-4fbe-87f2-a8d03a1637c8",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "navLabel",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EProjects\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    },
    {
      "contentTypeKey": "bbedd78c-5c62-42b1-b154-c9a1ad4ad9c6",
      "udi": null,
      "key": "a6f6d149-acc4-4fc4-b307-2c9b97110e01",
      "values": [
        {
          "editorAlias": "Umbraco.RichText",
          "culture": null,
          "segment": null,
          "alias": "navLabel",
          "value": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EContact\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022expose\u0022:[],\u0022Layout\u0022:{}}}"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8016b813-9a3f-45bb-8821-42785ffc88f3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "68f3dcf3-f331-4d68-bd08-46c562ce030d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "718daf2c-5298-4fbe-87f2-a8d03a1637c8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a6f6d149-acc4-4fc4-b307-2c9b97110e01",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "8016b813-9a3f-45bb-8821-42785ffc88f3",
        "settingsKey": null
      },
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "68f3dcf3-f331-4d68-bd08-46c562ce030d",
        "settingsKey": null
      },
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "718daf2c-5298-4fbe-87f2-a8d03a1637c8",
        "settingsKey": null
      },
      {
        "contentUdi": null,
        "settingsUdi": null,
        "contentKey": "a6f6d149-acc4-4fc4-b307-2c9b97110e01",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </mainNavigation>
    <navbarBackground>
      <Value><![CDATA[{
  "label": "White",
  "value": "#ffffff"
}]]></Value>
    </navbarBackground>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "08d7f7d5-c648-463a-815d-4a126caab9a5",
      "key": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.facebook.com/"
          }
        }
      ]
    },
    {
      "contentTypeKey": "08d7f7d5-c648-463a-815d-4a126caab9a5",
      "key": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.linkedin.com/"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06bd6ab8-50d1-4280-9e65-3ec8f27817a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dcc76f4e-8ab7-421f-b7d5-73b49cb2317c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <searchPage>
      <Value><![CDATA[]]></Value>
    </searchPage>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "1f49df35-9ccc-4255-8cd7-0d67e29ac5db",
    "mediaKey": "30bbe738-34c8-4d4b-b81e-4dd6af1ddfd5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onatrix"
}]]></Value>
    </siteName>
  </Properties>
</Content>