<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26978444-8850-4ced-a83c-b2fa2d377328" Alias="Main Navigation" Level="1">
  <Info>
    <Name>Main Navigation</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>