<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f708af43-af9c-476a-b00f-6f7f14fa6d9a" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "025711fa-5e17-4595-aab0-b09ba760d6ad"
    },
    {
      "contentElementTypeKey": "0fac5100-79d6-48ce-81fe-c1a7761666f7",
      "settingsElementTypeKey": "681bdd34-fc14-4a2c-b0b6-f0d971482c0b"
    },
    {
      "contentElementTypeKey": "7b3112fc-9b04-434a-b4a0-71ed99c9add5"
    },
    {
      "contentElementTypeKey": "fdaa9e3e-3114-4dbf-ae00-9fbe585c919a"
    },
    {
      "contentElementTypeKey": "54e26fff-aadc-41ca-8d04-0a5bec5cb54b"
    },
    {
      "contentElementTypeKey": "fb67e2d4-e655-44c4-9fec-9e19fe28b184"
    },
    {
      "contentElementTypeKey": "a3700441-aa37-4302-a304-57b7914a2277"
    },
    {
      "contentElementTypeKey": "77dc0e3f-1e84-4b32-a747-4c81bc74c8c3"
    },
    {
      "contentElementTypeKey": "54d83dc1-65ea-41e4-8d5e-b931f40a7a94"
    },
    {
      "contentElementTypeKey": "6d5af86a-8967-4b1b-8100-87ed51971775"
    }
  ]
}]]></Config>
</DataType>