<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bac8af1-e68f-4aaf-8830-c09f086745c3" Alias="Service Section - Service List" Level="1">
  <Info>
    <Name>Service Section - Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ab027753-dfb6-4458-a698-9e02bb07d13d",
      "label": "{umbValue: cardTitle}"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>