<?xml version="1.0" encoding="utf-8"?>
<DataType Key="403bf973-7bed-405e-9526-39c6163d6914" Alias="Success Stories Section - Statistics List - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Success Stories Section - Statistics List - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fb67e2d4-e655-44c4-9fec-9e19fe28b184",
      "label": "{umbValue: statNumber}"
    }
  ]
}]]></Config>
</DataType>