<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21164270-104d-47f7-90ee-f030725bb4c5" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3e247766-6a83-4d70-b0dd-0dc07a3eb744",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>