<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aeed8bf2-eba2-4a55-ab3d-b5949c7c8b9a" Alias="Textstring - Clean" Level="1">
  <Info>
    <Name>Textstring - Clean</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>