<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d5af86a-8967-4b1b-8100-87ed51971775" Alias="contactDetailsSection" Level="2">
  <Info>
    <Name>ContactDetailsSection</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Sections</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>83d1d75f-f457-4149-ab03-ea96ac4372c8</Key>
      <Name>ContactDetailsSectionBg</Name>
      <Alias>contactDetailsSectionBg</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="contect">Contect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4d86d82-bec1-4570-89db-a7d28e9c3331</Key>
      <Name>ContactDetailsSectionEmailContact</Name>
      <Alias>contactDetailsSectionEmailContact</Alias>
      <Definition>aeed8bf2-eba2-4a55-ab3d-b5949c7c8b9a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contect">Contect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df2111d9-8f55-4fc2-893e-9371ba91827d</Key>
      <Name>ContactDetailsSectionOfficeLocation</Name>
      <Alias>contactDetailsSectionOfficeLocation</Alias>
      <Definition>aeed8bf2-eba2-4a55-ab3d-b5949c7c8b9a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contect">Contect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecc838e1-9168-46cc-8ca8-dc1ffba7f0be</Key>
      <Name>ContactDetailsSectionPhone</Name>
      <Alias>contactDetailsSectionPhone</Alias>
      <Definition>aeed8bf2-eba2-4a55-ab3d-b5949c7c8b9a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contect">Contect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52c7c86b-3f0e-4b0b-9f3b-50e378861e91</Key>
      <Name>ContactDetailsSectionTitle</Name>
      <Alias>contactDetailsSectionTitle</Alias>
      <Definition>aeed8bf2-eba2-4a55-ab3d-b5949c7c8b9a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contect">Contect</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>584ce1b0-c27f-4d83-b30b-ab6fcdd0cf1a</Key>
      <Caption>Contect</Caption>
      <Alias>contect</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>