<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acb6194b-b36d-4937-80be-48029d38f0c0" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1bd43e2-6144-409d-b1b7-f189f06a0944">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e60dfff4-6b16-4854-b5ad-192b0da80a09" SortOrder="0">contactPage</ContentType>
    <ContentType Key="3e20a4f5-af50-4c42-8ce3-e49d0ad97f4e" SortOrder="1">servicePage</ContentType>
    <ContentType Key="f39b0b68-9e62-4fbb-86fc-d2224b33b65a" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1775a581-6da6-4201-848a-a9de3b02467d</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>f708af43-af9c-476a-b00f-6f7f14fa6d9a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d43c7885-929a-413e-acf2-be3ec8ee1d64</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>